
{% if replies %}
<ul class="item-list">
  {% for reply in replies %}
  <li data-id="{{ reply.id }}" class="item single clearfix no-padding reply-single">
    <div class="item-title">
      <a class="title" href="{{ reply.topic.url }}">{{ escape(reply.topic.title) }}</a>
    </div>
    <div class="item-content">
      <div class="content reply-content">
        {{ reply.content }}
      </div>
      <div class="meta">
          回复于
        <span class="time"><a href="{{ reply.url }}">{{ reply.created }}</a></span>
        <a class="node" href="{{ reply.topic.node.url }}">{{ escape(reply.topic.node.name) }}</a>
        <!--
        <ul class="vote clearfix">
          {% if current_user and current_user.is_upped(reply=reply) %}
          <li class="up pressed">
            <a title="取消赞同" href="{{ reply.url }}?action=up"><i class="icon-thumbs-up"></i> 已赞同({{ reply.up_count }})</a>
          </li>
          {% else %}
          <li class="up">
            <a title="赞同" href="{{ reply.url }}?action=up"><i class="icon-thumbs-up"></i> 赞同({{ reply.up_count }})</a>
          </li>
          {% end %}
          {% if current_user and current_user.is_downed(reply=reply) %}
          <li class="down pressed">
            <a title="取消反对" href="{{ reply.url }}?action=down"><i class="icon-thumbs-down"></i> 已反对({{ reply.down_count }})</a>
          </li>
          {% else %}
          <li class="down">
            <a title="反对" href="{{ reply.url }}?action=down"><i class="icon-thumbs-down"></i> 反对({{ reply.down_count }})</a>
          </li>
          {% end %}
          {% if current_user %}
            {% if current_user.is_collected(reply=reply) %}
            <li class="collect pressed">
              <a title="取消收藏" href="{{ reply.url }}?action=collect"><i class="icon-bookmark"></i> 已收藏</a>
            </li>
            {% else %}
            <li class="collect">
              <a title="收藏" href="{{ reply.url }}?action=collect"><i class="icon-bookmark"></i> 收藏</a>
            </li>
            {% end %}
            {% if current_user != reply.author %}
              {% if current_user.is_thanked(reply=reply) %}
              <li class="thank pressed">
                <a href="{{ reply.url }}?action=thank"><i class="icon-heart"></i> 已感谢</a>
              </li>
              {% else %}
              <li class="thank">
                <a title="感谢" href="{{ reply.url }}?action=thank"><i class="icon-heart"></i> 感谢</a>
              </li>
              {% end %}
              <li class="more">
                <a title="更多" href="#;"><i class="icon-ellipsis-horizontal"></i></a>
                <ul class="menu-list">
                  {% if current_user.is_reported(reply=reply) %}
                  <li class="collect pressed">
                    <a title="取消举报" href="{{ reply.url }}?action=report"><i class="icon-flag"></i> 已举报</a>
                  </li>
                  {% else %}
                  <li class="collect">
                    <a title="举报" href="{{ reply.url }}?action=report"><i class="icon-flag"></i> 举报</a>
                  </li>
                  {% end %}
                </ul>
              </li>
            {% else %}
            <li class="edit">
              <a title="修改" href="{{ reply.url }}/edit"><i class="icon-pencil"></i> 修改</a>
            </li>
            {% end %}
          {% end %}
        </ul>
        -->
      </div>
    </div>
  </li>
  {% end %}
</ul>
{% else %}
<div class="explain">
  <div>
    暂无评论
  </div>
</div>
{% end %}
