{% if topics %}
<ul class="item-list">
  {% for topic in topics %}
  <li class="item topic_{{ topic.id }}">
    <a class="avatar fl" href="{{ topic.author.url }}">
      <img class="avatar" src="{{ topic.author.get_avatar(size=48) }}">
    </a>
    <div class="item-content">
      <h3 class="title">
        <a href="{{ topic.url_sharp }}">{{ escape(topic.title) }}</a>
      </h3>
      <div class="meta">
        <a class="node" href="{{ topic.node.url }}">{{ escape(topic.node.name) }}</a>
        &nbsp;
        •
        &nbsp;
        <a class="author-name" href="{{ topic.author.url }}">{{ escape(topic.author.nickname) }}</a>
        &nbsp;
        •
        &nbsp;
        <a class="time" href="{{ topic.url_sharp }}">{{ topic.created }}</a>
        {% if topic.reply_count > 0 %}
        &nbsp;
        •
        &nbsp;
        最后回复自&nbsp;
        <a class="last-author-name" href="{{ topic.last_reply.author.url }}">{{ escape(topic.last_reply.author.nickname) }}</a>
        {% end %}
        &nbsp;
        •
        &nbsp;
        <span class="reply-count">共 {{ topic.reply_count }} 个回复</span>
        <a class="eye" href="{{ topic.url_sharp }}"><i class="icon-lightbulb"></i></a>
      </div>
    </div>
  </li>
  {% end %}
</ul>
{% else %}
<div class="explain">
  <div>
    暂无主题
  </div>
</div>
{% end %}
