<script id="tweet-editor-template" type="text/template">
  <div id="layout" class="tweet-editor-layout no-padding">
    <div class="tweet-layout-header clr">
      <div class="title fl">
        发送推文
      </div>
      <a title="关闭" class="layout-close">
        <i class="icon-remove"></i>
      </a>
    </div>
    <div class="layout-content">
      <div class="tweet-box">
        <div class="tweet-area">
          <div class="tweet-editor" contenteditable="true">
          </div>
        </div>
        <div class="toolbar clr">
          <button class="nbtn nbtn-p fr tweet-submit" type="button">
            发推
            <i class="icon-br"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</script>
