{% extends "../layout.html" %}

{% block subtitle %}节点创建{% end %}
{% block script %}
<script src="{{ static_url('js/ext/ueditor/ueditor.config.js') }}"></script>
<script src="{{ static_url('js/ext/ueditor/ueditor.all.min.js') }}"></script>
<script type="text/javascript">
  var width = $('#shape').width();
  var ue = new UE.ui.Editor({initialFrameWidth: width * 0.75, initialFrameHeight: 300});
  ue.render("editor");
</script>
<script src="{{ static_url('js/node_create.js') }}"></script>
{% end %}
{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
  <li>
    <a href="/nodes">节点</a>
  </li>
  <li class="now">
    节点创建
  </li>
</ul>
<div class="organ topic-create nav-shadow">
  <div class="organ-head">
    节点创建
  </div>
  <div class="organ-body">
    {{ modules.NodeForm(form=form, button="创建") }}
  </div>
</div>
{% end %}
