{% extends "../layout.html" %}

{% block subtitle %}
节点
{% end %}
{% block script %}
<script src="{{ static_url('js/node.js') }}"></script>
{% end %}
{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
  <li class="now">
    <a href="/nodes">节点</a>
  </li>
</ul>
<span id="pjax-content">
{% if not category %}
  <div class="organ node nav-shadow">
    <div class="organ-head">
      最热节点
    </div>
    {{ modules.NodeList(hot_nodes) }}
  </div>
  <div class="organ node nav-shadow">
    <div class="organ-head">
      最新节点
    </div>
    {{ modules.NodeList(new_nodes) }}
  </div>
  <div class="organ footer">
    <a title="查看所有" href="/nodes?category=all">» 查看所有</a>
  </div>
{% else %}
  <div class="organ node nav-shadow">
    <div class="organ-head">
      所有节点
    </div>
    {{ modules.NodeList(nodes) }}
  </div>
{% end %}
</span>
{{ modules.Page(page=page, page_count=page_count, url=url) }}
{% end %}
