{% extends "../layout.html" %}

{% block subtitle %}评论修改{% end %}
{% block style %}
  {% if reply.topic.node.icon_img %}
  <link rel="shortcut icon" href="{{ reply.topic.node.icon }}" type="image/x-icon" />
  {% end %}
  {% if reply.topic.node.head_img %}
  <style type="text/css">
    #head {
      background: url({{ reply.topic.node.head }});
      background-size: 100%;
    }
  </style>
  {% end %}
<link rel="stylesheet" tyle="text/css" href="{{ static_url('js/ext/ueditor/third-party/SyntaxHighlighter/shCoreDefault.css') }}"/>
<script src="{{ static_url('js/ext/ueditor/third-party/SyntaxHighlighter/shCore.js') }}"></script>
{% end %}
{% block script %}
<script src="{{ static_url('js/ext/ueditor/ueditor.config.js') }}"></script>
<script src="{{ static_url('js/ext/ueditor/ueditor.all.min.js') }}"></script>
<script type="text/javascript">
  var width = $('#shape').width();
  var ue = new UE.ui.Editor({initialFrameWidth: width * 0.75, initialFrameHeight: 200});
  if ($('#editor').length > 0) {
    ue.render("editor");
  }
</script>
<script src="{{ static_url('js/reply.js') }}"></script>
<script src="{{ static_url('js/reply_edit.js') }}"></script>
{% end %}
{% block node_id_param %}
?node_id={{ reply.topic.node.id }}
{% end %}
{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
  <li>
    <a href="{{ reply.topic.node.url }}">{{ escape(reply.topic.node.name) }}</a>
  </li>
</ul>
{{ modules.TopicWrap(topic=reply.topic, classes=['reply'], key=True) }}
<div class="organ reply-create">
  <div class="organ-head no-border">
    评论修改
  </div>
  <div class="organ-body">
    {{ modules.ReplyForm(form=form, topic=reply.topic, action=reply.url + '/edit', page=1, button="发布") }}
  </div>
</div>
{% end %}
