<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script src="{{ static_url('js/ext/jfu/js/vendor/jquery.ui.widget.js') }}"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="{{ static_url('js/ext/jfu/js/jquery.iframe-transport.js') }}"></script>
<!-- The basic File Upload plugin -->
<script src="{{ static_url('js/ext/jfu/js/jquery.fileupload.js') }}"></script>
<!-- The File Upload file processing plugin -->
<script src="{{ static_url('js/ext/jfu/js/jquery.fileupload-fp.js') }}"></script>
<!-- The File Upload user interface plugin -->
<script src="{{ static_url('js/ext/jfu/js/jquery.fileupload-ui.js') }}"></script>
<!-- The XDomainRequest Transport is included for cross-domain file deletion for IE8+ -->
<!--[if gte IE 8]><script src="{{ static_url('js/ext/jfu/js/cors/jquery.xdr-transport.js') }}"></script><![endif]-->
