# coding: utf-8

debug = True

db_user = "root"  # database username
db_pass = "root"  # database password
db_host = "localhost"  # database host
db_name = "collipa"  # database name

smtp_user = 'hello@gmail.com'  # email username
smtp_pass = 'helloword'  # email password
smtp_host = 'smtp.gmail.com'  # email host
smtp_port = '587'  # email port
smtp_ssl = True

rd_port = 6379  # Redis port
