# coding: utf-8

debug = False

db_user = '{{ db_user }}' # 数据库用户名
db_pass = '{{ db_pass }}' # 数据库密码
db_host = '{{ db_host }}' # 数据库地址
db_name = '{{ db_name }}' # 数据库名称

smtp_user = '{{ smtp_user }}' # 邮箱用户名
smtp_pass = '{{ smtp_pass }}' # 邮箱密码
smtp_host = '{{ smtp_host }}' # 邮箱地址
smtp_port = '{{ smtp_port }}' # 邮箱端口

rd_port = {{ rd_port }} # Redis port

cookie_secret = '{{ cookie_secret }}'
password_secret = '{{ password_secret }}'

site_name = '{{ site_name }}'
site_url = '{{ site_url }}'
site_description = '{{ site_description }}'

