{% extends "../layout.html" %}

{% block subtitle %}找回密码{% end %}
{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
</ul>
<div class="organ signup setting hide-coat nav-shadow">
  <div class="organ-head">
    找回密码
  </div>
  <div class="organ-body">
    <form action="/account/password" method="post">
      {{ xsrf_form_html() }}
      <input type="hidden" name="action" value="email" />
      <div class="fm-row">
        <div class="fm-item fm-required">
          <label class="fm-label" for="email">邮箱地址</label>
          <input class="fm-text" name="email" />
        </div>
        <div class="fm-explain">
          请输入您用来注册本站的邮箱地址
        </div>
      </div>
      <div class="fm-action">
        <button type="submit" class="btn">发送</button>
      </div>
    </form>
    <div class="saying">
      如果您忘了用来注册本站的邮箱地址，请联系管理员。
    </div>
  </div>
</div>
{% end %}
