{% extends "../layout.html" %}

{% block subtitle %}密码修改{% end %}
{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
</ul>
<div class="organ signup setting hide-coat nav-shadow">
  <div class="organ-head">
    修改密码
  </div>
  <div class="organ-body">
    <form action="" method="post">
      {{ xsrf_form_html() }}
      {% if token %}
      <input type="hidden" name="token" value="{{ token }}" />
      {% else %}
      <div class="fm-row">
        <div class="fm-item fm-required">
          <label class="fm-label" for="password">旧密码</label>
          <input class="fm-text" id="fm-password" maxlength="24" name="password" size="30" type="password" />
        </div>
      </div>
      {% end %}
      <div class="fm-row">
        <div class="fm-item fm-required">
          <label class="fm-label" for="password1">新密码</label>
          <input class="fm-text" id="fm-password1" maxlength="24" name="password1" size="30" type="password" />
        </div>
      </div>
      <div class="fm-row">
        <div class="fm-item fm-required">
          <label class="fm-label" for="password2">确认密码</label>
          <input class="fm-text" id="fm-password2" maxlength="24" name="password2" size="30" type="password" />
        </div>
      </div>
      <div class="fm-action">
        <button type="submit" class="btn">保存</button>
      </div>
    </form>
  </div>
</div>
{% end %}
