{% extends "../layout.html" %}

{% block subtitle %}
注册
{% end %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ static_url('css/user.css') }}" />
{% end %}

{% block body %}
<ul class="body-nav">
  <li>
    <a href="/"><i class="icon-home"></i>&nbsp;{{ handler.settings['site_name'] }}</a>
  </li>
</ul>
<div class="organ signup nav-shadow">
  <div class="organ-head">
    注册
  </div>
  <div class="organ-body">
    {{ modules.Form(form=form, button="注册")}}
  </div>
</div>
{% end %}
